:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
}
