<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Bookings</h1>

  <p-card class="mb-3">
    <div class="flex flex-wrap gap-3 items-center">
      <app-search-bar (search)="onSearch($event)"></app-search-bar>
      <!-- From date -->
      <p-datepicker
        [(ngModel)]="filters().fromDate"
        (ngModelChange)="loadBookings()"
        placeholder="From date"
        dateFormat="yy-mm-dd"
      >
      </p-datepicker>

      <!-- To date -->
      <p-datepicker
        [(ngModel)]="filters().toDate"
        (ngModelChange)="loadBookings()"
        placeholder="To date"
        dateFormat="yy-mm-dd"
      >
      </p-datepicker>

      <!-- Status -->
      <p-select
        [options]="statusOptions"
        [(ngModel)]="filters().status"
        (ngModelChange)="loadBookings()"
        optionLabel="label"
        optionValue="value"
        placeholder="Status"
      >
      </p-select>

      <p-select
        [options]="paidOptions"
        [(ngModel)]="filters().isPaid"
        (ngModelChange)="loadBookings()"
        optionLabel="label"
        optionValue="value"
        placeholder="Payment Status"
      ></p-select>

      <!-- Clear -->
      <p-button label="Clear" icon="pi pi-times" severity="secondary" (onClick)="clearFilters()">
      </p-button>

      <p-button
        label="Download Excel"
        icon="pi pi-download"
        severity="success"
        (onClick)="downloadExcel()"
      >
      </p-button>

      <p-button
        label="Download PDF"
        icon="pi pi-file-pdf"
        severity="danger"
        (onClick)="downloadPdf()"
      >
      </p-button>
    </div>
  </p-card>

  <p-tabs [value]="activeTab()">
    <p-tablist>
      @if(isUser()) {
      <p-tab value="0">My Bookings</p-tab>
      }
      <!-- First tab -->
      <p-tab value="1">Booking Requests</p-tab>
      <!-- Second tab -->
    </p-tablist>
    <p-tabpanels>
      <!-- Tab for My Bookings -->
      <p-tabpanel value="0">
        <div class="flex flex-col gap-3">
          @for(booking of filteredBookings(); track booking.id){
          <app-booking-card [booking]="booking" (onCancel)="onCancelBookings($event)" />
          } @empty {
          <p class="text-gray-500">No bookings available.</p>
          }
        </div>
      </p-tabpanel>

      <!-- Tab for Booking Requests -->
      <p-tabpanel value="1">
        <div class="flex flex-col gap-3">
          @for(booking of filteredVenueBookings(); track booking.id){
          <app-booking-card [booking]="booking" (onCancel)="onCancelVenueBookings($event)" />
          } @empty {
          <p class="text-gray-500">No booking requests available.</p>
          }
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
