<div class="login-container md:px-0 px-4">
  <h2 class="font-bold md:text-3xl text-2xl mb-3">Login</h2>

  <div class="form-container flex flex-column gap-3">
    <div class="p-field flex flex-column gap-2">
      <label for="email">Email</label>
      <input id="email" type="text" pInputText [(ngModel)]="email" placeholder="Enter your email" />
    </div>

    <div class="p-field flex flex-column gap-2">
      <label for="password">Password</label>
      <p-password
        id="password"
        [(ngModel)]="password"
        placeholder="Enter your password"
        [toggleMask]="false"
        [feedback]="false"
        fluid
      ></p-password>
    </div>
  </div>

  <p-button
    fluid
    type="button"
    label="Login"
    class="mt-4"
    [disabled]="!isValid()"
    (click)="onSubmit()"
  ></p-button>
</div>
