<p-card class="px-4">
  <div class="flex justify-between md:items-center items-start md:flex-row flex-col">
    <div class="info">
      <div class="flex gap-3 items-center mb-3">
        <h2 class="text-lg flex gap-2">
          <span class="font-bold">{{ roleRequest()!.roleName }}</span>
        </h2>
        <span
          class="text-white px-2 py-1 rounded text-sm font-medium"
          [ngClass]="getStatusClass(roleRequest()!.status)"
        >
          {{ roleRequest()!.status }}
        </span>
      </div>

      @if(isAdmin()){
      <p><strong>User:</strong> {{ roleRequest()!.user?.userName }}</p>
      } @if(roleRequest()!.venue){
      <p><strong>Venue:</strong> {{ roleRequest()!.venue?.name }}</p>
      }

      <p><strong>Date:</strong> {{ roleRequest()!.requestDate | bookingDate }}</p>
    </div>

    @if(isAdmin()){
    <div class="flex gap-2 mt-2">
      @if(showApproveButton()) {
      <button pButton label="Approve" (click)="approveRoleRequest(roleRequest().id)"></button>
      } @if (showRejectButton()) {
      <button
        pButton
        label="Reject"
        (click)="rejectRoleRequest(roleRequest().id)"
        severity="secondary"
      ></button>
      }
    </div>
    }
  </div>
</p-card>
