.emoji-picker-container {
  position: relative;
  display: inline-block;

  button {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
  }

  .picker {
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 50;
    transform: translateY(-8px);
  }
}
