<p-menubar [model]="menuItems()" class="md:px-4">
  <ng-template pTemplate="start">
    <a routerLink="/" class="logo mr-3">Evento</a>
  </ng-template>

  <ng-template pTemplate="end">
    @if(isLoggedIn()){ @if(user()){
    <div class="user-menu" style="display: flex; align-items: center; gap: 0.5rem">
      <p-avatar
        [label]="user()?.username?.substring(0, 2)?.toUpperCase()"
        shape="circle"
        style="cursor: pointer"
        (click)="toggleUserMenu($event)"
      >
      </p-avatar>

      <p-menu #userMenu [popup]="true" [model]="userMenuItems" appendTo="body">
        <ng-template #start>
          <span class="flex flex-col justify-center text-left py-2 px-3">
            <span class="font-bold">{{ user()?.email }}</span>
            <span class="text-sm">{{ user()?.roles }}</span>
          </span>
        </ng-template>
      </p-menu>
    </div>
    } }@else{
    <div class="flex gap-2">
      <a routerLink="/login">
        <button type="button" pButton label="Login" icon="pi pi-sign-in" size="small"></button>
      </a>
      <a routerLink="/register">
        <button type="button" pButton label="Register" icon="pi pi-user-plus" size="small"></button>
      </a>
    </div>
    }
  </ng-template>
</p-menubar>
