<p-menubar [model]="menuItems()" class="md:px-4">
  <ng-template pTemplate="start">
    <a routerLink="/" class="logo mr-3">Evento</a>
  </ng-template>

  <ng-template pTemplate="end">
    @if (isLoggedIn()) { @if (user()) {
    <div class="user-menu flex items-center justify-center gap-3">
      <p-overlaybadge severity="success" class="mt-2" (click)="op.toggle($event)">
        <i class="pi pi-bell text-gray-600 hover:text-primary cursor-pointer text-xl"></i>
      </p-overlaybadge>

      <i
        class="pi pi-comments text-gray-600 hover:text-primary transition p-button-rounded cursor-pointer text-xl"
        (click)="openChat()"
      ></i>

      <div>
        <p-avatar
          [label]="user()?.username?.substring(0, 2)?.toUpperCase()"
          shape="circle"
          class="cursor-pointer"
          (click)="toggleUserMenu($event)"
        ></p-avatar>

        <p-menu #userMenu [popup]="true" [model]="userMenuItems()" appendTo="body">
          <ng-template #start>
            <span class="flex flex-col justify-center text-left py-2 px-3">
              <span class="font-bold">{{ user()?.email }}</span>
              <span class="text-sm">{{ formattedRoles() }}</span>
            </span>
          </ng-template>
        </p-menu>
      </div>
    </div>
    } } @else {
    <div class="flex gap-2">
      <a routerLink="/login">
        <button type="button" pButton label="Login" icon="pi pi-sign-in" size="small"></button>
      </a>
      <a routerLink="/register">
        <button type="button" pButton label="Register" icon="pi pi-user-plus" size="small"></button>
      </a>
    </div>
    }
  </ng-template>
</p-menubar>

<!-- Unread Messages Popover -->
<p-popover #op [dismissable]="true" appendTo="body" styleClass="dark-popover">
  <div class="p-3">
    <h3 class="font-semibold text-lg mb-3 text-white">Notifications</h3>

    @if (totalUnread() === 0) {
    <p class="text-gray-400 text-center">No unread messages.</p>
    } @else {
    <div class="flex flex-col gap-3 min-w-md">
      @for (entry of unreadList(); track entry.senderId) {
      <p-panel
        header="{{ getUserName(entry.senderId) }}"
        [toggleable]="false"
        class="cursor-pointer dark-panel"
        (click)="openChat(entry.senderId)"
      >
        <ng-template pTemplate="icons">
          <span class="text-sm text-gray-400 pr-3"> {{ entry.messages.length }} unread </span>
        </ng-template>

        <ul class="mt-1 text-sm text-gray-300 space-y-1">
          @for (msg of entry.messages.slice(-3); track msg.sentAt) {
          <li>{{ msg.messageText }}</li>
          }
        </ul>
      </p-panel>
      }
    </div>
    }
  </div>
</p-popover>
