<p-menubar [model]="menuItems()" class="md:px-4">
  <ng-template pTemplate="start">
    <a routerLink="/" class="logo mr-3">Evento</a>
  </ng-template>

  <ng-template pTemplate="end">
    @if(isLoggedIn()){
    <button type="button" pButton label="Logout" icon="pi pi-sign-out" (click)="logout()"></button>
    }@else{
    <div class="flex gap-2">
      <a routerLink="/login">
        <button type="button" pButton label="Login" icon="pi pi-sign-in"></button>
      </a>
      <a routerLink="/register">
        <button type="button" pButton label="Register" icon="pi pi-user-plus"></button>
      </a>
    </div>
    }
  </ng-template>
</p-menubar>
