<p-card class="md:px-3 px-2" [ngClass]="{ 'md:py-2 py-2': !isEditing() }">
  @if(!isEditing()){
  <h2 class="font-semibold md:text-2xl text-xl">Book Venue</h2>
  }
  <div class="form-container flex lg:flex-row flex-col gap-4" [ngClass]="{ 'mt-4': !isEditing() }">
    <div class="flex flex-col gap-2">
      <label for="startDate">Start Date</label>
      <div class="date-picker-container">
        <p-date-picker
          [disabledDates]="disabledDates()"
          [minDate]="minDate()"
          [showTime]="true"
          [(ngModel)]="startDate"
          [showIcon]="true"
          [appendTo]="'body'"
          placeholder="Select start date"
        ></p-date-picker>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label for="startDate">End Date</label>
      <div class="date-picker-container">
        <p-date-picker
          [disabledDates]="disabledDates()"
          [minDate]="minDate()"
          [showTime]="true"
          [(ngModel)]="endDate"
          [showIcon]="true"
          [appendTo]="'body'"
          placeholder="Select end date"
        ></p-date-picker>
      </div>
    </div>

    <div class="button-container mt-auto">
      <button
        pButton
        [label]="isEditing() ? 'Save Changes' : 'Book Now'"
        (click)="submitBooking()"
      ></button>
    </div>
  </div>
</p-card>
