<p-card class="flex flex-col h-full w-full rounded-lg shadow-md px-4">
  <div class="flex flex-col gap-1.5">
    <h2 class="font-semibold text-lg mb-2">Booking #{{ booking().id }}</h2>
    <div class="info text-gray-300">
      <p><strong>Venue:</strong> {{ booking().venueName }}</p>
      <p><strong>From:</strong> {{ booking().startDate | bookingDate }}</p>
      <p><strong>To:</strong> {{ booking().endDate | bookingDate }}</p>
      <p><strong>Status:</strong> {{ booking().status }}</p>
    </div>
  </div>

  <div class="mt-4 flex gap-2">
    <button pButton label="Edit"></button>
    @if(booking().status == 'Pending'){
    <button
      pButton
      label="Cancel"
      (click)="confirmCancelBooking(booking().id)"
      [outlined]="true"
      severity="warn"
    ></button>
    }@else if(booking().status == 'Cancelled'){
    <button pButton label="Reopen" (click)="reopenBooking(booking().id)" [outlined]="true"></button>
    }
  </div>
</p-card>
