<p-card class="flex flex-col h-full w-full rounded-lg shadow-md px-4">
  <div class="flex justify-between md:items-center items-start md:flex-row flex-col">
    <div class="info text-gray-300">
      <div class="title flex items-center gap-3 mb-3">
        <h2 class="font-semibold text-xl">Booking #{{ currentBooking()!.id }}</h2>
        <p-chip
          [label]="currentBooking()!.status"
          [ngClass]="getStatusClass(currentBooking()!.status)"
          class="text-white text-xs font-semibold"
        ></p-chip>
        @if(showEditButton()){
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-text p-button-sm"
          (click)="toggleEditDialog()"
          title="Edit Booking"
        ></button>
        }
      </div>
      <p><strong>Venue:</strong> {{ currentBooking()!.venueName }}</p>
      <p><strong>From:</strong> {{ currentBooking()!.startDate | bookingDate }}</p>
      <p><strong>To:</strong> {{ currentBooking()!.endDate | bookingDate }}</p>
    </div>
    <div class="actions md:mt-0 mt-4 flex gap-2">
      @if(this.authService.isAdmin()) { @if(showApproveButton()) {
      <button pButton label="Approve" (click)="approveBooking(booking().id)"></button>
      } @if (showRejectButton()) {
      <button
        pButton
        label="Reject"
        (click)="rejectBooking(currentBooking()!.id)"
        severity="secondary"
      ></button>
      } } @else if(this.authService.isUser()) { @if(showCancelButton()) {
      <button
        pButton
        label="Cancel Booking"
        (click)="confirmCancelBooking(currentBooking()!.id)"
        severity="secondary"
      ></button>
      } @if (showReopenButton()) {
      <button
        pButton
        label="Reopen Booking"
        (click)="reopenBooking(currentBooking()!.id)"
        severity="secondary"
      ></button>
      } }
    </div>
  </div>
</p-card>

<p-dialog
  [(visible)]="showEditDialog"
  header="Edit Booking"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [style]="{ width: 'fit-content' }"
>
  <app-add-or-edit-booking-card
    [booking]="currentBooking()!"
    (onBookingEdited)="onBookingEdited($event)"
  />
</p-dialog>
